<launch>
  <!-- The configuration assumes direct connection to ublox GPS and Spatial -->
  <!-- GPS: UBLOX, SPATIAL on a Multiplexer Switch, IMU: spatial, DVL: none -->
  <!-- Namespace: none -->

  <!-- Arguments -->
  <arg name="allocation" default="$(find snippets)/data/allocations/x_horizontal.yaml" />
  <arg name="logging" default="$(optenv LOGGING false)" />
  
  <!-- Load parameters -->
  <rosparam file="$(find pladypos)/data/navigation/params/nav_standard.yaml"/>
  <rosparam file="$(find pladypos)/data/control/params/controllers_standard.yaml"/>
  <rosparam file="$(find pladypos)/data/dynamics/pladypos.yaml" />
  <rosparam file="$(find snippets)/data/allocations/x_horizontal.yaml" />
  
  <!-- Load sensors --> 
  <include file="$(find pladypos)/data/devices/ublox.xml">
	<arg name="use_ublox_gps" value="false" />
  </include>
  <include file="$(find pladypos)/data/devices/spatial.xml" >
	<arg name="use_spatial_gps" value="false" />
  </include>
  <!-- GPS muxer -->
  <node pkg="topic_tools" type="mux" name="gps_mux" 
	args="gps fix_ublox fix_spatial" >
    	<remap from="mux" to="gps_select" />
  </node>
  <!-- Static TF -->
  <include file="$(find pladypos)/data/devices/static_frames.xml"/>

  <!-- Load the navigation -->
  <include file="$(find pladypos)/data/navigation/navigation_standard.xml"/>
  
  <!-- Load the controllers -->
  <include file="$(find pladypos)/data/control/control_standard.xml"/>
  
  <!-- Load the primitives -->
  <include file="$(find pladypos)/data/control/primitives_standard.xml"/>
  
  <!-- Load driver -->
  <include file="$(find pladypos)/data/devices/arduino_driver.xml"/>
  
  <!-- Load relay module -->
  <include file="$(find pladypos)/data/devices/relay_module.xml"/>

  <!-- The background clock server -->
  <node pkg="snippets" type="clock_server.py" name="pladypos_clock">
	<remap from="clock" to="pladypos_clock" />
  </node>

  <!-- Start logger -->
  <node pkg="rosbag" type="record" name="logger" args="-a -o pladypos_" if="$(arg logging)" />

  <!-- Load multi-master with full sync -->
  <node pkg="master_discovery_fkie" type="zeroconf" name="zeroconf" />
  <node pkg="master_sync_fkie" type="master_sync" name="master_sync" />
</launch>
